<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>

    <link rel="stylesheet" th:href="@{/css/makeup.css}">
</head>
<body>
<main>
    <section class="registration">
        <h2>Registration:</h2>
        <form th:action="@{/register}" th:object="${user}" method="POST">
            <label>Username:</label>
            <div class="form-group">
                <input type="text" th:field="*{username}" placeholder="Username">
                <span class="error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
            </div>

            <label>Phone:</label>
            <div class="form-group">
                <input type="text" th:field="*{phone}" placeholder="Phone">
                <span class="error" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></span>
            </div>

            <label>Email:</label>
            <div class="form-group">
                <input type="email" th:field="*{email}" placeholder="Email">
                <span class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
            </div>

            <label>Password:</label>
            <div class="form-group">
                <input type="password" th:field="*{password}" placeholder="Password">
                <span class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
            </div>
            <input type="submit" value="Register">
        </form>
    </section>
</main>
</body>
</html>